// _variables.scss
$primary-red: red;
$primary-green: green;
$primary-blue: blue;
$primary-white: white;
$sidebar-blue: #1e293b;

// style to remove the default paddig and margin of browser
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}


// sidebar style
.sidebar-container {
  background-color: $sidebar-blue;
  color: $primary-white;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 100dvh;
}


.focusme-button {
  color: $primary-white !important;
  background-color: $primary-white;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 666;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.current-location-marker .marker-dot {
  width: 16px;
  height: 16px;
  background-color: $primary-blue; // solid center dot
  border-radius: 50%;
  border: 2px solid white;
  position: relative;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);

  // Outer glow (Google Maps style)
  &::after {
    content: "";
    position: absolute;
    top: -26px;
    left: -24px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(0, 123, 255, 0.2); // faint transparent ring
    border: 2px solid rgba(0, 123, 255, 0.4);
    animation: pulse 2s infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(0.8);
      opacity: 1;
    }

    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
}

.panto-button {
  color: $primary-white !important;
  background-color: $primary-white;
  position: absolute;
  bottom: 20px;
  right: 70px;
  z-index: 666;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.friend-marker .marker-dot {
  width: 16px;
  height: 16px;
  background-color: green;
  border-radius: 50%;
  border: 2px solid white;
}

.restaurant-marker .marker-dot {
  width: 18px;
  height: 18px;
  background-color: red;
  border-radius: 50%;
  border: 2px solid yellow;
}

.hospital-marker .marker-cross {
  width: 18px;
  height: 18px;
  position: relative;
  background-color: white;
  border-radius: 50%;
  border: 2px solid red;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background: red;
  }

  &::before {
    width: 10px;
    height: 2px;
    top: 8px;
    left: 4px;
  }

  &::after {
    width: 2px;
    height: 10px;
    top: 4px;
    left: 8px;
  }
}

.shop-marker .marker-shop {
  width: 18px;
  height: 18px;
  background: orange;
  border: 2px solid white;
  border-radius: 4px;
}